# Python 
__pycache__
build/
dist/
venv/
data.json
salt.key

# Angular
views/keezly-ui/node_modules/
views/keezly-ui/.vscode/
views/keezly-ui/.angular
static/
package-lock.json
keezly-logs.txt

# macOS
.DS_Store
*.icns
coom.txt